doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Paylaşım Yap
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/simple-sidebar.css', rel='stylesheet')
  body
    #wrapper.d-flex
      // Sidebar
      #sidebar-wrapper.bg-light.border-right
        .sidebar-heading KTU MEBSİS-P
        .list-group.list-group-flush        
          form(action='/cmp', method='get')
            button.list-group-item.list-group-item-action.bg-light(type='submit') Firma Bilgisi Oluştur
          form(action='/ex', method='get')
            button.list-group-item.list-group-item-action.bg-light(type='submit') Eski Çalışma Bilgisi Kaydet
          form(action='/pst', method='get')
            button.list-group-item.list-group-item-action.bg-light(type='submit') Paylaşım Yap
          form(action='/msg', method='get')
            button.list-group-item.list-group-item-action.bg-light(type='submit') Mesaj At
          form(action='/gt', method='get')
            button.list-group-item.list-group-item-action.bg-light(type='submit') Sorgulamalar
          form(action='/prf', method='get')
            button.list-group-item.list-group-item-action.bg-light(type='submit') Profil
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
          button#menu-toggle.btn.btn-primary Menu Gizle
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.mt-2.mt-lg-0
              li.nav-item.active
                form(action='/mp', method='get')
                  button(type='submit') ANASAYFA
              li.nav-item
                a.nav-link(href='#') Link
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Menü
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                  form(action='/mp', method='get')
                    button.dropdown-item(type='submit') Anasayfa
                  form(action='/mp', method='get')
                    button.dropdown-item(type='submit') Anasayfa
                  .dropdown-divider
                  form(action='/quit', method='get')
                    button.dropdown-item(type='submit') Çıkış
        .container-fluid
            .form
                .tab-content
                    #signup
                    h1 Paylaşım
                    form(action='/post/post', method='post')
                        .top-row
                        .field-wrap
                            label
                            | Tip
                            span.req *
                            input(type='text', required='', autocomplete='off',name='type')
                        .field-wrap
                            label
                            | Gün 
                            span.req *
                            input(type='text', required='', autocomplete='off',name='duration')
                        .field-wrap
                        label
                            | Şirket
                            span.req *
                        input(type='text', required='', autocomplete='off',name='company')
                        .field-wrap
                        label
                            | Periyot
                            span.req *
                        input(type='text', required='', autocomplete='off',name='period')
                        .field-wrap
                        label
                            | Bilgi
                            span.req *
                        input(type='text', required='', autocomplete='off',name='info')
                        button.button.button-block(type='submit') Kaydet
                // tab-content
                // /form
      // /#page-content-wrapper
      // /#wrapper
      // Bootstrap core JavaScript
      script(src='vendor/jquery/jquery.min.js')
      script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
      // Menu Toggle Script
      script.
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });
